<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/Content/all.min.css">
    <link rel="stylesheet" href="~/Content/LayoutStyle.css">
    <link rel="shortcut icon" href="~/Resources/piggy-bank-solid.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Pay Track</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .navbar-custom {
            background-color: #6571B7;
        }

            .navbar-custom .navbar-text {
                color: white;
            }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark navbar-custom">
        <div class="container">
            <i class="fas fa-piggy-bank fa-lg" style="color: #ffffff;"></i>@Html.ActionLink("Pay Track", "ViewPayments", "Payment", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Add Payment", "AddPayment", "Payment", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Payments List", "ViewPayments", "Payment", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Log Out", "Logout", "Access", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; Valeria Lopez Talamante - Pay Track 2024</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
